
body{
    background-color: grey;
    background-image: url(https://cdn.pixabay.com/photo/2015/02/24/10/19/rectangles-647267_960_720.jpg);
}
.unch1{
    width: 45%;
    border: 3px solid black;
    box-shadow: 5px 5px 10px 10px;
}
img:hover{
    transform: translateX(50px) scale(1.0) rotate(-10deg);
    transform: translateY(1px)scale(1.0)rotate(-10deg);
    transition-duration: 2s;
    transition-delay: 1ms;
}
#bts{
    font-weight: bold;
    color: black;
    font-size: 15px;
    text-align: center;
    border: 0px solid white;
    float:inline-start;
    padding-right: 40%;
    width: 150px;
}
.descr{
    font-style: italic;
    font-weight: bold;
    font-size: large;
    border: 0px solid white;
    color: white;
    width: 680px;
    box-shadow: 0px 3px 5px rgb(0, 0, 0);
}
.jg{
    width: 200px;
    text-align: center;
    margin-left: 120px;
    text-decoration: underline;
}
.gif{
    border: 0px solid black;
    margin-top: 3%;
    width: 642px;
    margin-left: 3%;
    box-shadow: 5px 5px 5px;
}
#titulo2{
    border: 0px solid white ;
    float: right;
    margin-top: -29%;
    align-items: center;
    text-align: center;
    color: black;
    width: 48%;
}
.cur{
    text-decoration: underline;
}
.info2{
    text-align: center;
    border: 0px solid white;
    color: white;
    text-decoration: none;
    width: 100%;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    box-shadow: 0px 5px 5px black;
}
.img3{
    border: 0px solid white;
    width: 50%;
    margin-left: 50%;
    margin-top: 3%;
    box-shadow: 10px 10px 10px black;
}
.titulo3{
    border: 0px solid white;
    text-align: center;
    align-items: center;
    margin-top: -30%;
    width: 50%;
    margin-left: 10px;
}
.franquia{
    border: 0px solid white;
    text-decoration: underline;
}
.info3{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: white;
    box-shadow: 0px 7px 10px black;
}
#direitos{
    font-weight: bold;
    margin-top:30%;
    border: 0px solid white;
    width: 100%;
    text-align: center;
}
.projeto-t{
    padding: 30px;
}
.feito{
    padding: 30px;
}
.apri{
    padding: 30px;
}
a{
    color: black;
    text-decoration: none;
    padding: 25px;
}
.imagem4{
    border: 1px solid white;
    width: 50%;
    margin-top: 21%;
    box-shadow: 20px 30px 20px;
}
